*{
    margin: 0;
    padding: 0;

}


.back-image{
  
background-image:url(../images/background-images.jpg), linear-gradient(to left,rgba(238, 46, 46,0.6),purple);
background-repeat: no-repeat,no-repeat;
background-position: center,center;
background-attachment: scroll,scroll;
background-size:cover,cover;
   height:100vh;
opacity: 0.9;   
position: relative; 


}

.navbars{
    position: relative;
    padding:20px !important;
    box-sizing: border-box;
    height: 20vh !important;
   
    width:100%;
    display: flex;

}
.logos{
    display: flex !important;
    margin: 10px 20px;
    
   
}
.logos .logo{
    width:100px;
    height: 100px;
    border-radius: 50%;
    border:2px solid purple;
    color:white;
    margin: 0px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,red,purple);
    transition: all 0.9s ease-in-out;
    transform: rotate(0);
  
   
   
}
.logo-name{
    margin: 0px 20px;
}
.logo-name span{
    font-size: 2rem;
    color:white;
    font-family: cursive;
}
#name{
   
    transform: translateY(50%);
    font-weight:bolder !important;
    font-family: cursive;
  
   
   

   
}
.logo:hover{
    background-image: linear-gradient(to top,red,purple);
    border-bottom: 5px solid purple;
    transform: rotate(-360deg);
}
.menu{
    position: absolute;
    right:0;
    margin: 10px 20px !important;
   
}
.menu ul{
list-style: none;


}
.menu ul li{
    display: inline-block;
    margin:10px 14px;

}
.menu ul li a{
    color:white;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 5px !important;
    font-family: cursive;
    transition: all 0.5s ease-in-out;
}
.menu ul li a:hover{
    border-bottom: 1px solid purple;
}

.btn-join a:hover{
    border-bottom: 0 !important;
}

.btn-join{
    background-image: linear-gradient(to left,red,purple);
    color:white;
    text-decoration: none;
    text-align: center;
    padding:10px 30px;
   cursor: pointer;

  
}
.btn-join:hover{
    background-image: linear-gradient(to left,purple,red);
  
}

/* header-a */
.header-a{
    margin-top:120px !important;
    position:absolute;
    top:110px;
    display: flex;
 flex-wrap: wrap;

 width:100%;
height: 66%;
/* background-image: linear-gradient(to left,red,purple);
opacity: 0.5; */
 justify-content: center;
 

    
}
/* .header-a:hover{
    background-image: linear-gradient(to right,red,purple);   
} */
.part-1,.part-2{
width:600px;
height: 400px;
}
.part-1{
    position: relative;
}
.part-1 img{
    height: 100%;
    width: 100%;
    transform: rotateY(0);
    transition: all 0.3s ease-in;
}
.part-1 img:hover{
    transform: rotateY(-180deg);
}
.part-2{
  
    margin-left: 20px;
}
.part-2 h2{
    font-family: cursive;
    font-weight: bolder;
    color: #fff;
    z-index: 999;
    font-size: 3rem;
    transition: all 0.4s ease-in-out;
    animation: changePos 1s ease-in-out infinite alternate;
    
}

@keyframes changePos {
    from{
        transform: translate(3px ,2px);
    }
    to{
        transform: translate(10px ,7px);
    }
}
.part-2 p{
    color:#fff;
    font-family: cursive;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bolder;
    
}

.part-2 h2:hover{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: lighter;
   color:purple;
   
}

.bars{
    position: absolute;
    right:30px;
    top:5vh;
}


/* .fillbox input{
    border:0;
    position: absolute;
    outline: none;
    background-color: transparent;
    border-bottom: 5px solid purple;
    color:white;
    width:30%;
    margin: auto;
}
::placeholder{
    color:white;
    font-size: 20px;
} */


.menu_Symbol{
   height: 46px;
   width: 46px;
   border-radius: 50%;
   text-align: center;
   border: 2px solid purple;
   cursor: pointer;
   background-image: linear-gradient(to top,red,purple);
   
}
.menu_Symbol svg{
    transform: translateY(20%) !important;
    
}
.menu_Symbol:hover{
    background-image: linear-gradient(to bottom,red,purple);
} 


